body {
    background-color: #85a1a3;
    font-family: Arial, sans-serif;
    margin: 1%;
    padding: 1%;
}
.styled-image {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 20px auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}