body {
    background-color: #85a1a3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1%;
    color: #161616;
    font-weight: bold;
    padding: 1%;
}
.styled-image {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
}
h2 {
    color: #ececec;
    background-color: #501b1bda;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 24px;
}
h1 {
    color: #ececec;
    background-color: #501b1bda;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 40px;
}
p {
    padding: 10px;
    margin: 10px;
    text-align: justify;
    font-size: 16px;

}